.form{
    display:flex;
    justify-content: center;
    align-items:flex-end;
}

.appealForm{
    display:inline-block;
    margin-right:10px;
}

.appealtextarea{
    border-radius:3px
}
.username{
    display:inline-block;
}
.inputuser{
    -webkit-border-radius: 3px;
    -moz-boarder-radius: 3px;
    border-radius:3px
}

.score{
    text-align:center;
}

